@import url('/css/custom-font.css');

.topbar-inner {
  width: 100%;
  max-width: var(--container-width);
  margin: 0 auto;

  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.topbar-left {
  padding-left: 1rem;
}

.topbar-right {
  padding-right: 1rem;
}

.topbar-center {
  display: flex;
  justify-content: center;
}

.topbar-center .book-search {
  max-width: 360px;     /* 核心：限制搜索框长度 */
  width: 100%;
  padding: 0 1rem;     /* 左右留白 */
  box-sizing: border-box;
}

.topbar-center .book-search {
  width: clamp(200px, 40vw, 360px);
  padding: 0 1rem;
}


#back-to-top {
  position: fixed;
  right: 1.25rem;
  bottom: 1.25rem;
  width: 40px;
  height: 40px;
  border-radius: 50%;

  background: #333;
  color: #fff;
  font-size: 20px;
  line-height: 40px;
  text-align: center;

  border: none;
  cursor: pointer;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.25s ease;

  z-index: 3000;
}

/* 显示状态 */
#back-to-top.show {
  opacity: 0.8;
  pointer-events: auto;
}

#back-to-top:hover {
  opacity: 1;
}
